@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
 }

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-primary-500 via-tertiary-500 to-secondary-500;
}
